<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<script src="https://kit.fontawesome.com/46f0448fe6.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<header>
    <div class="encabezado">
        <div class="divlogo"><img class ="logo" src = "/images/logo-mercado-liebre.svg"></div>
        <div class="formulario"><form class="form" action="" method="GET">
            <div class= "barrabusqueda"><input type="text" name="busqueda" placeholder="Buscar productos, marcas y mas"></input></div>
            <div class="boton"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
            </form>
        </div>
            <div class="compraencuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas o sin tarjeta de crédito</div>
    </div>
    <ul type="none">
        <li class="menu"><a href="">Ofertas</a></li>
        <li class="menu"><a href="">Tiendas Oficiales</a></li>
        <li class="menu"><a href="">Vender</a></li>
        <li class="menu"><a href="">Ayuda</a></li>
    </ul>
    <ul type="none">
        <li class="menu"><a href="./register">Creá tu cuenta </a><i class="fa-solid fa-id-card"></i></li>
        <li class="menu"><a href="./login">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
        <li class="menu"><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
    </ul>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    <br>
</header>
<main>
    <br>
    <div class="formlogin">
        <form class="login" action="" method="POST">
            <input type="text" name="usuario" placeholder="Nombre de usuario">
            <input type="password" name="contraseña" placeholder="Contraseña">
            <input type="submit" value="Enviar">
        </form>
    </div>
</main>
<footer>
    <br>
    <div class="iconos"><i class="fa-solid fa-credit-card"></i></div>
    <div class="ennegrita">Pagá con tarjeta o en efectivo</div>
    <div class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</div>
    <div class="iconos"><i class="fa-solid fa-gift"></i></div>
    <div class="ennegrita">Envío gratis desde $ 2.500</div>
    <div class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</div>
    <div class="iconos"><i class="fa-solid fa-user-shield"></i></div>
    <div class="ennegrita">Seguridad, de principio a fin</div>
    <div class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</div><br>
    <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
</footer>
</body>
</html>